<div class="me-auto mb-2 mb-lg-0 me-2">
    {% if user %}  
      <button type="button" class="btn btn-outline-success" onclick="location.href='/myPage/{{user.id}}'">
        {{ user.name }}
      </button>
      <button type="button" class="btn btn-outline-warning" onclick="location.href='/auth/signOut'">
        로그아웃
      </button>
  
    {% else %}
      <button type="button" class="btn btn-outline-success" onclick="location.href='/auth/signIn'">
        로그인
      </button>
      <button type="button" class="btn btn-outline-warning" onclick="location.href='/auth/signUp'">
        회원가입
      </button>
    {% endif %}
    </div>